.blog {
	min-width: $sm-screen;
	padding-left: (20/16+rem);
	padding-right: (20/16+rem);
	color: $prime-text;

	.line {
		margin: (25/16+rem) 0 0 0;
	}
}

.blog__header {
	text-align: left;

	h2 {
		@include font(18, 27);
		padding-bottom: (5/16+rem);
		padding-top: (40/16+rem);
		margin: 0;

		a {
			color: $prime-text;
		}

		a:hover {
			color: $color-primary;
		}
	}

}

.blog__date {
		text-transform: uppercase;
		color: $color-primary;
		@include font(14,30);
		padding-bottom: (10/16+rem);
	}

.blog__about {
		@include font(16,27);
}



.blog-paginator {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 280px;
	padding: 0;
	margin-left: (20/16+rem);
	margin-top: (50/16+rem);

	a {
		display: block;
		@include size(62, 62);
		text-transform: uppercase;
		@include font(18,56);
		font-weight: bold;
		border: 2px solid $border-color;
		color: $prime-text;
		transition: all .2s ease-in-out; 
		flex-grow: 0;
		text-align: center;
		margin-bottom: (20/16+rem);

		&:hover {
			border: 2px solid $color-secondary-dark;	
		}
	
		&:active {
			color: $light-text;
			background-color: $color-secondary-dark;
			border: 2px solid $color-secondary-dark;	
		}
	}

	&__item--chosen {
		border-color: $color-primary;
	}

	&__pages {
		display: none;
	}
}


/*Tablet version*/

@media (min-width: $md-screen) {
	.blog {
		width: 500px;
		margin: 0 auto;
	}

	.line {
		background: none;
		border-top: 2px dotted $border-color;
	}

	.blog__header {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: -60px;
			top: 40px;
			@include size(38,36);
			background: url(../img/sprites/sprite.svg) 51.333333333333336% 59.2125% no-repeat;
		}

		h2 {
			@include font(27, 30);
		}
	}

	.blog__about {
		@include font(18,30);
	}

	.blog-paginator {
		margin: 65px auto 0;
		width: 350px;

		&__pages {
			display: block;
			width: 62px;
			@include font(18,62);
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

 /*Desktop version*/

@media (min-width: $lg-screen) {
	.blog {
		width: 820px;
	}

}
