.review-load-photo {
	padding: (40/16+rem) (20/16+rem)(5/16+rem) ;
	min-width: $sm-screen;
	text-align: center;

	.line {
		margin-top: (33/16+rem);
	}
}

.review__load-files {
 	position: absolute;
 	cursor: pointer;
 	top: 0;
 	right: 0;
 	opacity: 0;
 	width: 100%;
 	height: 100%;
}

.btn__name {
	display: inline-block;
	text-align: center;
}

.review__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
	padding-top: (15/16+rem);
	margin-left: (-20/16+rem);
	min-width: $sm-screen;
}

.review__loaded-photo {
	display: inline-block;
	position: relative;
	width: 84px;
	text-align: left;
	padding-bottom: (25/16+rem);
	margin-left: (20/16+rem);

	p {
		text-transform: uppercase;
		@include font(12, 18);
	}

}

.review__delete-photo {
	position: absolute;
	display: block;
	z-index: 10;
	top: (-16/16+rem);
	right: 0;
	@include size(32,32);
	border: 2px solid $border-color;
	color: $grey-text;
	border-radius: 50%;
	background-color: $background-primary;
	@include font(17, 27);
	text-align: center;
	transition: all .2s ease-in-out; 

	&:hover {
			border: 2px solid $color-secondary-dark;	
		}
	
	&:active {
			color: $light-text;
			background-color: $color-secondary-dark;
			border: 2px solid $color-secondary-dark;	
	}
}

/*Tablet version*/

@media (min-width: $md-screen) {
	.review__gallery {
		margin-left: -68px;
	}

  	.review-load-photo  {
  		position: relative;
  		border: 2px solid $border-color;
  		margin: 0 40px;
  		padding: 40px 60px 20px 60px;
  	}

  	.review__legend {
  		display: block;
  		padding: 0 15px;
  		width: 420px;
  		margin-left: -210px;
  		background-color: $light-text;
  		position: absolute;
  		top: -10px;
  		left: 50%;
  	}

  	.review__loaded-photo {
		margin-left: 68px;
		width: 120px;
		padding-bottom: 45px;

  		img{
  			@include size(120, 120);
  		}

  		p {
  			@include font(14, 14);
  		}
  	}

  	.review__delete-photo {
  		@include size(52, 52);
  		@include font(25, 50);
  		top: -26px;
		right: -26px;
  	}

  	.review-form__footer {
  		display: flex;
		flex-direction: row;
		justify-content: space-between;
  		margin: 0 40px;
  		padding: 40px 0 20px 0;
  	}


}

 /*Desktop version*/

@media (min-width: $lg-screen) {
	.review-load-photo  {
		margin: 0;
	}

	.review__gallery {
		margin-left: -50px;
	}

	.review__loaded-photo {
		margin-left: 50px;
	}

	.review-form__footer {
		margin: 0;
	}

	.review__descr .hidden {
		display: inline;
	} 

}