.edition {
	background-color: $background-secondary;
	padding-top: (100/16+rem);
	padding-bottom: (40/16+rem);
	background: $background-secondary url(../img/bg-white-mask.svg) no-repeat 0px 0px;
	background-size: 100% auto;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 280px;
		margin: 0 auto;
		text-transform: uppercase;
	}
}

.table-edition {
	background-color: $background-primary;
	width: 100%;
	margin: 0 auto 40px auto;

	td {
		position: relative;
		border: 2px solid $border-color;
		height: 61px;
		width: 25%;
		@include font(14,58);
	}

	&__header {
		position: relative;
		height: 100px;
		background-color: $color-secondary;
		border-right: (2/16+rem) solid $background-secondary;
		color: $light-text;
	}


	&__title {
		@include font (18,30);
	}

	&__price {
		@include font (24,30);
		font-weight: 100;
	}


	&__header--hit{
		background: linear-gradient(-45deg, 
                    $color-secondary 81%, $color-primary 0, $color-primary 93%, 
                    $color-secondary 0) no-repeat;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /*hack IE10+*/
			height: 101px;
		}
		&::before {
    	content: "хит";
    	position: absolute;
    	top: (17/16+rem);
    	left: (11/16+rem);
    	text-transform: uppercase;
    	@include font(14, 14);
    	color: $light-text;
    	transform: rotate(-45deg);
    	z-index: 10;
    	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /*hack IE10+*/
			padding-top: 15px;
		}
	}
}

	&__yes {
		position: absolute;
		right: 0;
  		top: 50%; 
  		transform: translate(0, -50%);
		@include size(30, 24);
		@include font(0,0);
		margin-right: (18/16+rem);
		background: url("../img/sprites/sprite.svg") 51.53776647367893% 48.654065554561996% no-repeat;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /*hack IE10+*/
			margin-top: 30px;
		}
	}

	&__no {
		position: absolute;
		right: 0;
  		top: 50%; 
  		transform: translate(0, -50%);
		@include size(30, 30);
		@include font(0,0);
		margin-right: (18/16+rem);
		background: url("../img/sprites/sprite.svg") 51.226611226611226% 70.62803445575568% no-repeat;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /*hack IE10+*/
			margin-top: 30px;
		}
	}

	&--features {
		display: none;

		margin-top: 99px;

		td {
			height: 61px;
			padding-left: 20px;
			border-right: none;
		}
	}

	td[data-title]::before {
      content: attr(data-title);
      display: block;
      padding-left: 20px;
      float: left;
      @include font(14, 60);
  	}

}

/*Tablet version*/

@media (min-width: $md-screen) {
	.edition__wrapper { 
		width: 620px;
		text-transform: inherit;
	}

	.table-edition {
		width: 25%;

		&--features {
			display: block;

			td {
				padding-left: 12px;
			}
		}
		

		&__yes {
			left: 50%;
  			transform: translate(-50%, -50%);
		}

		&__no {
			left: 50%;
  			transform: translate(-50%, -50%);
		}

		&__header--hit::before {
    		top: 9px;
    		left: 4px;
		}

		&__title {
			@include font (16,30);
		}

		&__price {
			@include font (18,30);
		}

		td[data-title]::before {
      		display: none;
  		}
	}
}

/*Desktop version*/

@media (min-width: $lg-screen) {
	.edition {
		padding-top: 120px;

		.edition__wrapper { 
			width: 940px;
		}
	}

	.table-edition {

		td {
			@include font(18,58);
		}

		&__header--hit::before {
    		top: 15px;
    		left: 10px;
		}

		&__title {
			@include font (18,30);
		}

		&__price {
			@include font (24,30);
		}

		&--features {

			td {
				padding-left: 20px;
			}
		}
	}
}
