.edition {
	background-color: $background-secondary;
	padding-top: (90/16+rem);
	padding-bottom: (100/16+rem);
	background: $background-secondary url(../img/bg-white-mask.svg) no-repeat 0px 0px;
	background-size: 100% auto;
}

.table-edition {
	background-color: $background-primary;
	margin: 0 auto;

	&__col1,
	&__col2,
	&__col6 {
		display: none;
	}

	&__col3, 
	&__col5 {
		width: (20/16+rem);
	}

	&__col4 {
		min-width: (280/16+rem);
	}

	td {
		border: (2/16+rem) solid $border-color;
		height: (61/16+rem);
	}

	&__header {
		position: relative;
		height: (100/16+rem);
		background-color: $color-secondary;
		border-right: (2/16+rem) solid $background-secondary;
		color: $light-text;
		text-transform: uppercase;
	}


	&__title {
		@include font (18,30);
	}

	&__price {
		@include font (24,30);
		font-weight: 100;
	}

	&__header--hit{
		background: linear-gradient(-45deg, 
                    $color-secondary 81%, $color-primary 0, $color-primary 93%, 
                    $color-secondary 0);
		&:before {
    	content: "хит";
    	position: absolute;
    	top: (17/16+rem);
    	left: (11/16+rem);
    	text-transform: uppercase;
    	@include font(14, 14);
    	color: $light-text;
    	transform: rotate(-45deg);
    	z-index: 10;
	}
}

/*	&__header--hit:before {
  		content: "";
    	position: absolute;
    	top: (-50/16+rem);
    	left: (-50/16+rem);
    	@include size(101, 101);
    	border-style: solid;
    	border-width: (30/16+rem);
    	border-color: transparent $color-primary transparent transparent;
    	transform: rotate(45deg);
	}*/

	&__yes {
		float: right;
		@include size(30, 24);
		@include font(0,0);
		margin-right: (18/16+rem);
		margin-top: (22/16+rem);
		background: url("../img/sprites/sprite.svg") 51.53776647367893% 48.654065554561996% no-repeat;
	}

	&__no {
		float: right;
		@include size(30, 30);
		@include font(0,0);
		margin-right: (18/16+rem);
		margin-top: (22/16+rem);
		background: url("../img/sprites/sprite.svg") 51.226611226611226% 70.62803445575568% no-repeat;
	}

	&__hint {
		float: left;
		@include font(18,30);
		color: $prime-text;
		margin: (22/16+rem);
	}

}
