.jombotron {
	min-height: 16.88rem;
	padding-top: 1.88rem;
	background-color: $color-secondary-dark;
	color: $light-text;
	text-align: center;
	min-width: $sm-screen;
	width: 100%;

	p {
		display: inline-block;
		padding: 0 2.44rem;
		font-weight: 100;
		@include font (14, 24);
		margin: 1.69rem 0 0 0;
	}
}

.load-link {
	display: inline-block;
	width: 17.69rem;
	height: 3.44rem;
	border: 3px solid $light-text;
	border-radius: 8.85rem;
	color: $light-text;
	font-weight: bold;
	text-align: center;
	padding-top: 0.72rem;
	margin-bottom: 30/16+rem;
	font-size: $mobile-menu-font-size;

	&:hover {
		background-color: $light-text;
		color: $color-primary;
	}

	&:active {
		color: $color-primary-transparent;
	}
}

.os {
	margin-left: -1.94rem;

	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 1.94rem;
	}

	&__apple {
		width: 56.21px;
		height: 66.75px;
		background: url("../img/sprites/sprite.svg") 68.1809587651902% 29.040622299049264% no-repeat;
	}

	&__android {
		width: 52.08px;
		height: 57.04px;
		background: url("../img/sprites/sprite.svg") 77.29382850901148% 28.0974043350281% no-repeat;
	}

	&__windows {
		width: 53.92px;
		height: 51.99px;
		background: url("../img/sprites/sprite.svg") 86.45391042322969% 27.630670043748562% no-repeat;
	}
}


/*Tablet version*/

@media (min-width: $md-screen) {
	.jombotron {
		position: relative;
		z-index: 2;
		width: (305/16+rem);
		margin-top: (-370/16+rem);
		margin-left: (15/16+rem);
		background: none;
	}
}

/*Desktop version*/

@media (min-width: $lg-screen) {
	.load-link {
		width: (300/16+rem);
		@include font(21,23);
	}

	.jombotron {
		margin-top: (-400/16+rem);
		margin-left: (130/16+rem);
		background: none;
	}
}