.jombotron {
	min-height: 16.88rem;
	padding-top: 1.88rem;
	background-color: $color-secondary-dark;
	color: $light-text;
	text-align: center;
	min-width: $sm-screen;

	p {
		display: inline-block;
		padding: 0 2.44rem;
		font-weight: 100;
		@include font (14, 24);
		margin: 1.69rem 0 0 0;
	}
}

.load-link {
	display: inline-block;
	width: 17.69rem;
	height: 3.44rem;
	border: 3px solid $light-text;
	border-radius: 8.85rem;
	color: $light-text;
	font-weight: bold;
	text-align: center;
	padding-top: 0.72rem;
	margin-bottom: 30/16+rem;
	font-size: $mobile-menu-font-size;

	&:hover {
		background-color: $light-text;
		color: $color-primary;
	}

	&:active {
		color: $color-primary-transparent;
	}
}

.os {
	margin-right: -1.94rem;

	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1.94rem;
	}

	&__apple {
		width: 46.21px;
		height: 56.753px;
		background: url("../img/sprites/os-sprite.svg") 0 0 no-repeat;
	}

	&__android {
		width: 42.084px;
		height: 47.041px;
		background: url("../img/sprites/os-sprite.svg") 50.827137137577544% 0 no-repeat;
	}

	&__windows {
		width: 43.922px;
		height: 41.992px;
		background: url("../img/sprites/os-sprite.svg") 99.11987247131728% 0 no-repeat;
	}
}