.promo {
	padding: (40/16+rem) (20/16+rem);

	&__text {
		min-width: (280/16+rem);
	}
}

.info {
	padding: 40px 20px;

	&__text {
		min-width: (280/16+rem);
		@include font(14, 30);
		color: $prime-text;
		text-align: center;
	}

	&__fill-form {
		display: none;
	}
}

/*Tablet version*/

@media (min-width: $md-screen) {

	.info {
		padding: 80px 75px 50px 75px;

		&__fill-form {
			display: block;
		}
	
		&__text {
			@include font(18, 30);
		}
	}
}

/*Desktop version*/

@media (min-width: $lg-screen) {
	.info {
		padding: 90px 175px 70px 175px;

		&__fill-form {
			display: inline;
		}
	}

}