.svg-source--img--icon-os--android-logo {
	background: url(svg/sprite.css-92870e15.svg) 50.827137137577544% 0 no-repeat;
}

.svg-source--img--icon-os--android-logo-dims {
	width: 42.084px;
	height: 47.041px;
}

.svg-source--img--icon-os--apple-logo {
	background: url(svg/sprite.css-92870e15.svg) 0 0 no-repeat;
}

.svg-source--img--icon-os--apple-logo-dims {
	width: 46.21px;
	height: 56.753px;
}

.svg-source--img--icon-os--microsoft-logo {
	background: url(svg/sprite.css-92870e15.svg) 99.11987247131728% 0 no-repeat;
}

.svg-source--img--icon-os--microsoft-logo-dims {
	width: 43.922px;
	height: 41.992px;
}

