@mixin font ($size, $line-height) {
    font-size: ($size/16+rem);
    line-height: ($line-height/16+rem);
}

@mixin size ($width, $height) {
    width: ($width/16+rem);;
    height: ($height/16+rem);;
}

@mixin hd-bg ($file-name, $ext, $color: transparent, $top: 0, $bottom: 0, $ver: 3) {
    background: $color url('../img/#{$file-name}@1x.#{$ext}') no-repeat $top $bottom;
    background-size: cover;

    @media  (min-resolution: 1.5dppx) {
        background-image: url('../img/#{$file-name}@2x.#{$ext}');
    }

    @if $ver == 3 {
        @media  (min-resolution: 2.5dppx) {
            background-image: url('../img/#{$file-name}@3x.#{$ext}');
        }
    }
}

