/*Variables*/


/*Fonts*/
$font-family:      				'Open Sans', Arial, sans-serif;

/*Sizes*/
$sm-screen: 320px;
$md-screen: 700px;
$lg-screen: 1200px;

//Colors
$pink:							#d22856;
$pink-transparent:				rgba(210,40,86,.3);
$light-text:					white;
$mobile-menu-color:				#283645;
$mobile-menu-font-size:			18px;
$mobile-menu-item-height:		65px;