/*Variables*/


/*Fonts*/
$font-family:      				'Open Sans', Arial, sans-serif;
$mobile-menu-font-size:			1.13rem;
$load-link-font-size:			$mobile-menu-font-size;

/*Breakpoints*/
$sm-screen: 320px;
$md-screen: 700px;
$lg-screen: 1200px;

/*Colors*/
$pink:							#d22856;
$pink-transparent:				rgba(210,40,86,.3);
$light-text:					white;
$mobile-menu-color:				#283645;
$dark-blue:						#1d2631;

/*Sizes*/	
$mobile-menu-item-height:		4.06rem;