.svg-source--img--svg--android-logo {
	background: url(svg/sprite.css-a33dc0e8.svg) 77.29382850901148% 28.0974043350281% no-repeat;
}

.svg-source--img--svg--android-logo-dims {
	width: 52.08px;
	height: 57.04px;
}

.svg-source--img--svg--apple-logo {
	background: url(svg/sprite.css-a33dc0e8.svg) 68.1809587651902% 29.040622299049264% no-repeat;
}

.svg-source--img--svg--apple-logo-dims {
	width: 56.21px;
	height: 66.75px;
}

.svg-source--img--svg--bg-white-arrow {
	background: url(svg/sprite.css-a33dc0e8.svg) 100% 0 no-repeat;
}

.svg-source--img--svg--bg-white-arrow-dims {
	width: 330px;
	height: 42px;
}

.svg-source--img--svg--bg-white-mask {
	background: url(svg/sprite.css-a33dc0e8.svg) 100% 13.375796178343949% no-repeat;
}

.svg-source--img--svg--bg-white-mask-dims {
	width: 330px;
	height: 42px;
}

.svg-source--img--svg--blog-post-icon {
	background: url(svg/sprite.css-a33dc0e8.svg) 51.333333333333336% 59.2125% no-repeat;
}

.svg-source--img--svg--blog-post-icon-dims {
	width: 38px;
	height: 36px;
}

.svg-source--img--svg--facebook {
	background: url(svg/sprite.css-a33dc0e8.svg) 56.25111007056012% 48.24497034183331% no-repeat;
}

.svg-source--img--svg--facebook-dims {
	width: 18.67px;
	height: 28.94px;
}

.svg-source--img--svg--icon-no {
	background: url(svg/sprite.css-a33dc0e8.svg) 51.226611226611226% 70.62803445575568% no-repeat;
}

.svg-source--img--svg--icon-no-dims {
	width: 36.75px;
	height: 36.75px;
}

.svg-source--img--svg--icon-yes {
	background: url(svg/sprite.css-a33dc0e8.svg) 51.53776647367893% 48.654065554561996% no-repeat;
}

.svg-source--img--svg--icon-yes-dims {
	width: 40.38px;
	height: 31.69px;
}

.svg-source--img--svg--microsoft-logo {
	background: url(svg/sprite.css-a33dc0e8.svg) 86.45391042322969% 27.630670043748562% no-repeat;
}

.svg-source--img--svg--microsoft-logo-dims {
	width: 53.92px;
	height: 51.99px;
}

.svg-source--img--svg--quotes {
	background: url(svg/sprite.css-a33dc0e8.svg) 56.068301385323934% 29.76506856596152% no-repeat;
}

.svg-source--img--svg--quotes-dims {
	width: 88.67px;
	height: 73.79px;
}

.svg-source--img--svg--review-arrow-left {
	background: url(svg/sprite.css-a33dc0e8.svg) 97.41048013326956% 27.60615222821086% no-repeat;
}

.svg-source--img--svg--review-arrow-left-dims {
	width: 31.71px;
	height: 51.72px;
}

.svg-source--img--svg--review-arrow-right {
	background: url(svg/sprite.css-a33dc0e8.svg) 92.18030975275859% 27.60615222821086% no-repeat;
}

.svg-source--img--svg--review-arrow-right-dims {
	width: 31.71px;
	height: 51.72px;
}

.svg-source--img--svg--timer {
	background: url(svg/sprite.css-a33dc0e8.svg) 0 0 no-repeat;
}

.svg-source--img--svg--timer-dims {
	width: 308px;
	height: 355.1px;
}

.svg-source--img--svg--twitter {
	background: url(svg/sprite.css-a33dc0e8.svg) 60.122850122850124% 47.62177823383836% no-repeat;
}

.svg-source--img--svg--twitter-dims {
	width: 27.5px;
	height: 24.66px;
}

.svg-source--img--svg--youtube {
	background: url(svg/sprite.css-a33dc0e8.svg) 64.32600756488849% 47.521382965907726% no-repeat;
}

.svg-source--img--svg--youtube-dims {
	width: 24.64px;
	height: 23.96px;
}

